<!DOCTYPE HTML>

<html>

<head>
    
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Your Website Title</title>
	
	<!-- Address bar color in mobile browser -->
	<meta name="theme-color" content="#ff6600" />

</head>

<body>
    
    <!-- Start 4Site Template Body Wrapper -->
    <div id="main-content-wrapper">
    <div id="main-content">
    <div id="main-content-inner">
        
        <p><img alt="" class="logo" data-ratio-lock="true" data-unit="px" src="https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/1874/generic-logo.png" height="100" width="200" /></p>